@font-face {
  font-family: 'Gelato';
  src: url('GelatoSans-Regular.woff2') format('woff2'),
       url('GelatoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
